body {
  background-color: #f2f3ef!important;
  font-family: 'Sunflower', sans-serif;
  margin: 0;
  text-align: center!important;
}
 body h1 {
  color: #244751;
}
 body p {
  padding-left: 20px;
  padding-right: 20px;
  color: #244751;
}
 body .container {
  padding-bottom: 55px;
  text-align: center;
  border: #b38f4f;
  border-style: solid;
  border-width: 1px;
  margin-bottom: 65px;
  width: max-content;
}

 body h2 {
  text-align: center;
}
 body h3 {
  font-family: 'Sunflower', sans-serif;
  color: #244751;
}
 .banner-wrap .banner-inner {
  display: inline-block;
  padding: 8px 62px 0;
  background: url(/images/banner-background-hex.png) center center no-repeat;
  margin: 20px;
  background-size: 100%;
}
 .banner-wrap .banner {
  height: 39px;
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-size: 2rem;
  color: #b38f4f;
  line-height: 44px;
  text-align: center;
  -webkit-font-smoothing: subpixel-antialiased;
  letter-spacing: .025em;
  margin: 0 0 14px;
  font-weight: 300;
  padding: 0;
  background: #0A2A40;
  background-size: auto 42px;
  text-transform: uppercase;
}
 hr {
  color: #244751;
  width: 90%;
}
 .hr-text {
  line-height: 1em;
  position: relative;
  outline: 0;
  border: 0;
  color: #244751;
  text-align: center;
  height: 1.5em;
  font-family: 'Sunflower', sans-serif;
  background-color: #f2f3ef!important;
}
 .hr-text:before {
  content: '';
  background: linear-gradient(to right, transparent, #244751, transparent);
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}
 .hr-text:after {
  content: attr(data-content);
  position: relative;
  display: inline-block;
  color: #244751;
   padding: 0 .5em;
  line-height: 1.5em;
  color: #244751;
  background-color: #f2f3ef!important;
}

